<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A New Post</title>
    <link rel="stylesheet" href="/style.css" class="css">
  </head>
  <body>
    <div class="form_container">
      <form action="/posts" method="post" >
        <label for="username">Username</label>
<input type="text" name="username" placeholder="Enter Your Username">
<br>
<label for="content">Content</label>
<textarea rows="10"cols="40" name="content" id="" placeholder="Enter your Thoughts.."></textarea>
 <br> <button>Submit Post</button>
      </form>
    </div>
  </body>
</html>

