<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show In detail</title>
    <link rel="stylesheet" href="/style.css" class="css">
</head>
<body>
    <div class="box">
        <h2>Here is your post in detail</h2>
    <p> Post id:<%=post.id %></p>
    <div class="post">
    <h3 class="user">@<%=post.username%></h3>
    <p class="content"><%=post.content%></p>
    </div>
    </div>
</body>
</html>